DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finora"
NEXT_PUBLIC_SUPABASE_URL="https://azfrdwwtqkvbspdddena.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_bDB2s47KtLPklIxby7iI5A_qoNQOFsi"
SUPABASE_SERVICE_ROLE_KEY=""